<mat-card>
  <mat-card-header
    ><mat-card-title>Create a New Project</mat-card-title></mat-card-header
  >
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-error *ngIf="error">{{ error }}</mat-error>
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="platform" placeholder="Platform" />
      </mat-form-field>
      <button mat-flat-button color="primary">
        Create Project
      </button>
    </form></mat-card-content
  >
</mat-card>
