mat-form-field,
button,
mat-checkbox {
  width: 100%;
}

mat-card {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin-top: 20px;
}
