<section *ngIf="event$ | async as event" class="mat-typography">
  <section class="header">
    <div>
      <h2>Event</h2>
      <p>
        <a>{{ event?.eventID }}</a>
      </p>
      <p>
        <span *ngIf="event?.dateCreated" class="space">{{
          event?.dateCreated | date: "long"
        }}</span>
      </p>
    </div>
    <div>
      <a
        mat-button
        [routerLink]="previousEventUrl$ | async"
        [disabled]="(previousEvent$ | async) === false"
        ><mat-icon>keyboard_arrow_left</mat-icon> Older</a
      >
      <a
        mat-button
        [routerLink]="nextEventUrl$ | async"
        [disabled]="(nextEvent$ | async) === false"
        >Newer <mat-icon>keyboard_arrow_right</mat-icon></a
      >
    </div>
  </section>

  <mat-divider></mat-divider>

  <section
    *ngIf="event?.contexts?.browser || event?.contexts?.os"
    class="location"
  >
    <div *ngIf="event?.user" class="wrapper">
      <mat-icon>face</mat-icon>
      <div class="spacer">
        <p class="mat-body-strong">
          {{ event?.user.email ? event?.user.email : event?.user.ip_address }}
        </p>
        <p *ngIf="event?.user.id" class="mat-small mat-caption">
          <span class="bold">Version:</span
          ><span class="spacer-small">{{ event?.user.id }}</span>
        </p>
      </div>
    </div>
    <div *ngIf="event?.contexts?.browser" class="wrapper">
      <mat-icon>tab</mat-icon>
      <div class="spacer">
        <p class="mat-body-strong">{{ event?.contexts?.browser?.name }}</p>
        <p class="mat-small mat-caption">
          <span class="bold">Version:</span
          ><span class="spacer-small">{{
            event?.contexts?.browser?.version
          }}</span>
        </p>
      </div>
    </div>
    <div *ngIf="event?.contexts?.os" class="wrapper">
      <mat-icon>laptop</mat-icon>
      <div class="spacer">
        <p class="mat-body-strong">{{ event?.contexts?.os?.name }}</p>
        <p class="mat-small mat-caption">
          <span class="bold">Version:</span
          ><span class="spacer-small">{{
            event?.contexts?.os?.version
              ? event?.contexts?.os?.version
              : "unknown"
          }}</span>
        </p>
      </div>
    </div>
  </section>

  <mat-divider *ngIf="event?.contexts?.browser"></mat-divider>

  <section class="tags">
    <h3>Tags</h3>
    <mat-chip-list class="wrapper">
      <mat-chip *ngFor="let tag of event?.tags"
        ><span>{{ tag.key }}:</span>
        <a routerLink="." class="spacer">{{ tag.value }}</a></mat-chip
      >
    </mat-chip-list>
  </section>

  <mat-divider></mat-divider>

  <section class="exception">
    <div class="header-wrapper">
      <div class="text-wrapper">
        <h3>Exception</h3>
        <p class="spacer">
          (<a mat-button (click)="getFlippedFrames()"
            >most recent call <span *ngIf="isReversed$ | async">first</span
            ><span *ngIf="(isReversed$ | async) === false">last</span></a
          >)
        </p>
      </div>

      <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle checked value="full" aria-label="full data">
          Full
        </mat-button-toggle>
        <mat-button-toggle value="raw" aria-label="raw data">
          Raw
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="full" *ngIf="group.value === 'full'">
      <ng-container
        *ngFor="let entry of event?.entries"
        [ngSwitch]="entry.type"
      >
        <div *ngSwitchCase="'exception'">
          <div *ngFor="let value of entry.data.values">
            <h2>{{ value.type }}</h2>
            <p>{{ value.value }}</p>
            <mat-chip-list>
              <mat-chip disabled
                >mechanism: {{ value.mechanism.type }}</mat-chip
              >
              <mat-chip color="accent" selected disabled
                >handled: {{ value.mechanism.handled ? "yes" : "no" }}</mat-chip
              >
              <mat-chip *ngIf="value.mechanism.data" disabled
                >function: {{ value.mechanism.data.function }}</mat-chip
              >
            </mat-chip-list>

            <mat-accordion>
              <mat-expansion-panel
                *ngFor="let frame of value.stacktrace.frames"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ frame.filename }}
                    <a
                      mat-icon-button
                      color="primary"
                      target="_blank"
                      [href]="frame.absPath"
                    >
                      <mat-icon>open_in_new</mat-icon>
                    </a>
                  </mat-panel-title>
                  <mat-panel-description>
                    in {{ frame.function }} at line {{ frame.lineNo }}:{{
                      frame.colNo
                    }}
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <div *ngFor="let contextLine of frame.context">
                  <p>{{ contextLine[0] }}. {{ contextLine[1] }}</p>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </ng-container>
    </div>
    <div *ngIf="group.value === 'raw' && event?.entries">
      <ng-container
        *ngFor="let entry of event?.entries"
        [ngSwitch]="entry.type"
      >
        <div *ngSwitchCase="'exception'">
          <p>{{ event?.title }}</p>
          <div *ngFor="let value of entry.data.values">
            <p class="spacer" *ngFor="let frame of value.stacktrace.frames">
              at {{ frame.function }} ({{ frame.filename }}:{{
                frame.lineNo
              }}:{{ frame.colNo }})
            </p>
          </div>
        </div>
      </ng-container>
    </div>
  </section>
  <app-entry-csp></app-entry-csp>
  <app-entry-request></app-entry-request>
  <section *ngIf="event?.contexts">
    <mat-divider></mat-divider>
    <h3>Runtime</h3>
    <app-entry-data
      key="Name"
      [value]="event?.contexts?.runtime?.name"
    ></app-entry-data>
    <app-entry-data
      key="Version"
      [value]="event?.contexts?.runtime?.version"
    ></app-entry-data>
  </section>
  <section *ngIf="event?.contexts">
    <mat-divider></mat-divider>
    <h3>Operating System</h3>
    <app-entry-data
      key="Name"
      [value]="event?.contexts?.os?.name"
    ></app-entry-data>
    <app-entry-data
      key="Version"
      [value]="
        event?.contexts?.os?.version ? event?.contexts?.os?.version : 'unknown'
      "
    ></app-entry-data>
  </section>
  <section *ngIf="event?.contexts">
    <mat-divider></mat-divider>
    <h3>Trace (trace)</h3>
    <app-entry-data
      key="description"
      [value]="event?.contexts?.trace?.description"
    ></app-entry-data>
    <app-entry-data
      key="op"
      [value]="event?.contexts?.trace?.op"
    ></app-entry-data>
    <app-entry-data
      key="parent_span_id"
      [value]="event?.contexts?.trace?.parent_span_id"
    ></app-entry-data>
    <app-entry-data
      key="span_id"
      [value]="event?.contexts?.trace?.span_id"
    ></app-entry-data>
    <app-entry-data
      key="trace_id"
      [value]="event?.contexts?.trace?.trace_id"
    ></app-entry-data>
  </section>
  <section *ngIf="event?.contexts && event?.contexts.browser">
    <mat-divider></mat-divider>
    <h3>Browser</h3>
    <app-entry-data
      key="name"
      [value]="event?.contexts?.browser?.name"
    ></app-entry-data>
    <app-entry-data
      key="version"
      [value]="event?.contexts?.browser?.version"
    ></app-entry-data>
  </section>
  <section *ngIf="event?.context">
    <mat-divider></mat-divider>
    <h3>Aditional Data</h3>
    <app-entry-data
      key="argv"
      [value]="argv((event?.context)['sys.argv'])"
    ></app-entry-data>
    <app-entry-data
      key="version"
      [value]="event?.contexts?.browser?.version"
    ></app-entry-data>
  </section>
  <section *ngIf="event?.sdk">
    <mat-divider></mat-divider>
    <h3>SDK</h3>
    <app-entry-data key="name" [value]="event?.sdk.name"></app-entry-data>
    <app-entry-data key="version" [value]="event?.sdk.version"></app-entry-data>
  </section>
</section>
