section {
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;

  .space {
    margin-right: 16px;
  }

  p,
  h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.location {
  display: flex;
  justify-content: space-around;

  .wrapper {
    display: flex;
    align-items: center;
  }

  .spacer {
    margin-left: 16px;
  }

  .spacer-small {
    margin-left: 8px;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  .bold {
    font-weight: 700;
  }
}

.tags .spacer {
  margin-left: 8px;
}

.exception {
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .text-wrapper {
    display: flex;
  }

  .spacer {
    margin-left: 8px;
  }

  h3,
  p {
    margin: 0;
  }

  .yes {
    border: 2px solid green;
  }

  .no {
    border: 2px solid red;
  }

  .raw {
    margin-top: 0;
    margin-bottom: 0;
  }

  .full {
    h2 {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  mat-chip-list {
    display: block;
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

app-entry-request {
  display: block;
}
