@import "../../../../../assets/styles/variables";

$left-column-width: 30%;

div {
  margin-top: 8px;
  margin-bottom: 8px;
}

dt {
  float: left;
  width: $left-column-width;
  padding-right: 16px;
}

dd {
  margin-left: $left-column-width;
  width: 70%;
  min-height: 36px;
  word-wrap: break-word;
  padding: 8px;
  font-family: $font-mono;
  background-color: mat-color($mat-gray, 100);
  border-radius: 3px;
}
