<div class="hero-and-nav-container">
  <div class="hero centered-block">
    <h2 class="fancy mat-display-3">
      Simple, open source error&nbsp;tracking
    </h2>
    <div class="content">
      <p class="mat-body-1">
        Sentry is
        <a href="https://blog.sentry.io/2019/11/06/relicensing-sentry">
          no longer open source</a
        >. We want a quality open source product to pick up where it left off,
        so we're making&nbsp;GlitchTip.
      </p>
      <p class="mat-body-1">
        Get updates about our progress:
      </p>

      <!-- Begin Mailchimp Signup Form -->
      <div id="mc_embed_signup">
        <form
          action="https://burkesoftware.us7.list-manage.com/subscribe/post?u=894614c6582c030b526699146&amp;id=116edb1090"
          method="post"
          id="mc-embedded-subscribe-form"
          name="mc-embedded-subscribe-form"
          class="validate"
          target="_blank"
          novalidate
        >
          <div class="subscribe-wrapper" id="mc_embed_signup_scroll">
            <div class="mc-field-group">
              <mat-form-field>
                <div style="position: absolute; left: -5000px;">
                  Email Address
                </div>
                <input
                  matInput
                  type="email"
                  value=""
                  name="EMAIL"
                  class="required email"
                  placeholder="Email Address"
                  id="mce-EMAIL"
                />
              </mat-form-field>
            </div>
            <div id="mce-responses" class="clear">
              <div
                class="response"
                id="mce-error-response"
                style="display:none"
              ></div>
              <div
                class="response"
                id="mce-success-response"
                style="display:none"
              ></div>
            </div>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
              <input
                type="text"
                name="b_894614c6582c030b526699146_116edb1090"
                tabindex="-1"
                value=""
              />
            </div>
            <div class="clear">
              <button
                mat-flat-button
                type="submit"
                name="subscribe"
                id="mc-embedded-subscribe"
                class="mat-primary"
              >
                Subscribe
              </button>
            </div>
          </div>
        </form>
      </div>

      <!--End mc_embed_signup-->

      <p class="mat-body-1">
        Or, email
        <a href="mailto:info@burkesoftware.com?Subject=Moving to GlitchTip"
          >info@burkesoftware.com</a
        >
        to be first in line to move your company’s private or hosted Sentry
        solution to GlitchTip.
      </p>
    </div>
  </div>
</div>

<mat-card class="big-card-wrapper">
  <div class="centered-block">
    <h2 class="fancy mat-display-1">
      Who's making this?
    </h2>

    <div class="content">
      <p class="mat-body-1">
        GlitchTip was created by Burke Software and Consulting, a small team of
        software developers doing consulting work and supporting open source
        software development. We also created
        <a href="https://passit.io">Passit</a>.
      </p>

      <p class="mat-body-1">
        GlitchTip is open source, which means that you can be making it too! If
        you’re interested in doing so,
        <a href="https://gitlab.com/glitchtip">visit our GitLab page</a> for
        more information, or start a live chat on this&nbsp;page.
      </p>
    </div>
  </div>

  <div class="centered-block divider">
    <h2 class="fancy mat-display-1">
      More about GlitchTip
    </h2>

    <div class="content">
      <p class="mat-body-1">
        Glitchtip is intended to be a simple, easy-to-use way to collect errors
        reported by your app. It's open source, so you can view, modify, and use
        the code as you see fit. Run it on your server for now, or wait awhile
        so you can pay us to host it for&nbsp;you.
      </p>

      <p class="mat-body-1">
        GlitchTip is compatible with the Sentry API, so it can use
        <a href="https://docs.sentry.io/platforms/">their open source SDKs</a>
        to receive error data from your&nbsp;application.
      </p>
    </div>
  </div>

  <div class="centered-block divider">
    <h2 class="fancy mat-display-1">
      What's your roadmap?
    </h2>

    <div class="content">
      <p class="mat-body-1">
        Our goal for January is to start using GlitchTip for our own personal
        projects. Interested users can check out our code and experimental
        docker images as a&nbsp;preview.
      </p>

      <p class="mat-body-1">
        Our goal for February is to have proper organizations and projects set
        up. Interested users can then sign up for a hosted demo and download
        beta docker&nbsp;images.
      </p>
    </div>
  </div>
</mat-card>
