@import "../../../../../../src/assets/styles/variables";

.hero {
  padding-top: 100px;

  @media screen and (max-width: 767px) {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .content {
    max-width: 600px;
    margin: 0 auto;
  }

  .mat-body-1 {
    font-size: 1.25em;
    line-height: 1.5em;
  }
}

.centered-block {
  text-align: center;
}

.divider {
  border-top: 1px solid lightgray;
}

.subscribe-wrapper {
  display: flex;

  @media screen and (min-width: 501px) {
    margin: 0 50px;
  }

  .mc-field-group {
    flex: 1;

    mat-form-field {
      width: 100%;
      padding-right: 20px;
    }
  }

  button {
    top: 9px;
  }
}
