@import "~@angular/material/theming";
$font-path: "../../../src/assets/fonts";
@import "../../../src/assets/styles/variables";
@import "../../../src/assets/styles/font-files";
@import "../../../src/assets/styles/resets";

// Common styles for Angular Material. Included so that we only have to load a
// single CSS file for Angular Material in our app.
// Don't include this anywhere else!
@include mat-core($custom-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

// Responsive type maybe?
@media screen and (max-width: 767px) {
  @include mat-base-typography($mobile-typography);
}

a {
  color: $amaranth;
  font-weight: 500;
}

.fancy {
  color: white;
  background: $amaranth;
  background: -webkit-linear-gradient(to left, #8a2387, #e94057, #f27121);
  background: linear-gradient(to left, #8a2387, #e94057, #f27121);
  background-clip: border-box;
  font-style: italic;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  margin: 0.75em 0 0.5em;
}

.hero-and-nav-container {
  background: #ead5d0;
  background: linear-gradient(45deg, #faddff 0%, #ffd3b9 100%);
  background-image: url("./assets/glitchy.png"),
    linear-gradient(45deg, #faddff 0%, #ffd3b9 100%);
  background-size: cover, cover;
  padding-bottom: 70px;
}

.big-card-wrapper {
  width: 1180px;
  margin: -70px auto 50px;

  @media screen and (max-width: 1199px) {
    width: auto;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  @media screen and (max-width: 767px) {
    margin-left: 5vw;
    margin-right: 5vw;
  }
}

.centered-block {
  padding: 20px 10vw 40px;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    padding: 5px 0 20px;
  }

  .content {
    max-width: 600px;
    margin: 0 auto;
  }
}
