<mat-card>
  <h1>Login</h1>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-error *ngIf="error">{{ error }}</mat-error>
      <mat-form-field class="full-width">
        <input
          matInput
          type="email"
          placeholder="Email"
          formControlName="email"
        />
        <mat-error *ngIf="email?.errors?.required"
          >Your email is required to log in</mat-error
        >
        <mat-error *ngIf="email?.errors?.email"
          >Enter a valid email address</mat-error
        >
      </mat-form-field>
      <mat-form-field class="full-width">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <mat-error *ngIf="password?.errors && password?.errors?.required">
          Your password should be at least 8 characters long</mat-error
        >
        <mat-error *ngIf="password?.errors?.required"
          >Your password is required to log in</mat-error
        >
      </mat-form-field>
      <button id="submit" class="full-width" mat-flat-button color="primary">
        Log in
      </button>
    </form>
    <ng-container *ngIf="socialAuth$ | async">
      <div class="or">
        <span class="mat-body-strong mat-body-2">or</span>
      </div>
      <div class="o-auth">
        <button mat-stroked-button class="full-width margin" (click)="gitlab()">
          <span class="wrapper">
            <svg>
              <use xlink:href="#gitlab"></use>
            </svg>
            <span class="text">Log in with GitLab</span>
          </span>
        </button>
        <button mat-stroked-button class="full-width margin" (click)="github()">
          <span class="wrapper">
            <svg>
              <use xlink:href="#github"></use>
            </svg>
            <span class="text">Log in with GitHub</span>
          </span>
        </button>
        <button mat-stroked-button class="full-width margin" (click)="google()">
          <span class="wrapper">
            <svg>
              <use xlink:href="#google"></use>
            </svg>
            <span class="text">Log in with Google</span>
          </span>
        </button>
        <button mat-stroked-button class="full-width" (click)="microsoft()">
          <span class="wrapper">
            <svg>
              <use xlink:href="#microsoft"></use>
            </svg>
            <span class="text">Log in with Microsoft</span>
          </span>
        </button>
      </div>
    </ng-container>
  </mat-card-content>
</mat-card>
