div,
button,
h1 {
  display: inline-block;
}

button {
  margin-left: 20px;
}

.mat-card {
  max-width: 400px;
  margin: 20px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

section {
  display: flex;
  flex-wrap: wrap;
}
