section {
  margin-left: 20px;
  margin-right: 20px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  display: block;
  margin-top: 20px;
}

p {
  margin-left: 20px;
}

div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  background: whitesmoke;

  a {
    margin-left: 10px;
  }
}

.mat-card {
  max-width: 400px;
  margin-right: 20px;
}

.example-header-image {
  // this should be the avatar - probably not a mvp feature
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

article {
  display: flex;
  flex-wrap: wrap;
}
