h2 {
  display: inline-block;
  margin-right: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

mat-card {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
