<div class="hero-and-nav-container just-the-image"></div>

<mat-card class="big-card-wrapper">
  <div class="centered-block">
    <h2 class="fancy mat-display-3">
      Privacy Policy
    </h2>

    <p class="mat-body-1">
      Your privacy is critically important to us. At GlitchTip we have a few
      fundamental principles:
    </p>

    <ul>
      <li class="mat-body-1">
        We don’t ask you for personal information unless we truly need it.
      </li>
      <li class="mat-body-1">
        We don’t share your personal information with anyone except to comply
        with the law, develop our products, or protect our rights.
      </li>
      <li class="mat-body-1">
        We don’t store personal information on our servers unless required for
        the on-going operation of one of our services.
      </li>
    </ul>

    <p class="mat-body-1">
      Below is our privacy policy which incorporates these goals.
    </p>

    <p class="mat-body-1">
      If you have questions about deleting or correcting your personal data
      please contact us at
      <a href="mailto:privacy@mail.glitchtip.com">privacy@mail.glitchtip.com</a
      >. GlitchTip operates several websites including glitchtip.com. It is
      GlitchTip’s policy to respect your privacy regarding any information we
      may collect while operating our websites.
    </p>

    <h2 class="fancy mat-display-1">
      Website Visitors
    </h2>

    <p class="mat-body-1">
      Like most website operators, GlitchTip collects non-personally-identifying
      information of the sort that web browsers and servers typically make
      available, such as the browser type, language preference, referring site,
      and the date and time of each visitor request. GlitchTip’s purpose in
      collecting non-personally identifying information is to better understand
      how GlitchTip’s visitors use its website. From time to time, GlitchTip may
      release non-personally-identifying information in the aggregate, e.g., by
      publishing a report on trends in the usage of its website.
    </p>

    <p class="mat-body-1">
      GlitchTip also collects potentially personally-identifying information
      like Internet Protocol (IP) addresses. GlitchTip does not use such
      information to identify its visitors, however, and does not disclose such
      information, other than under the same circumstances that it uses and
      discloses personally-identifying information, as described below.
    </p>

    <h2 class="fancy mat-display-1">
      Gathering of Personally-Identifying Information
    </h2>

    <p class="mat-body-1">
      Certain visitors to GlitchTip’s websites choose to interact with GlitchTip
      in ways that require GlitchTip to gather personally-identifying
      information. The amount and type of information that GlitchTip gathers
      depends on the nature of the interaction. For example, we ask visitors who
      sign up for an account at app.glitchtip.com to provide an email address.
      Those who engage in transactions with GlitchTip are asked to provide
      additional information, including as necessary the personal and financial
      information required to process those transactions. In each case,
      GlitchTip collects such information only insofar as is necessary or
      appropriate to fulfill the purpose of the visitor’s interaction with
      GlitchTip. GlitchTip does not disclose personally-identifying information
      other than as described below. And visitors can always refuse to supply
      personally-identifying information, with the caveat that it may prevent
      them from engaging in certain website-related activities.
    </p>

    <h2 class="fancy mat-display-1">Use of personal data</h2>

    <p class="mat-body-1">
      GlitchTip may collect aggregated statistics about the behavior of visitors
      to its websites. For instance, GlitchTip may monitor the most popular user
      accounts on the platform. GlitchTip may display this information publicly
      or provide it to others. In addition, GlitchTip may use your behavioral
      data and other data you provide to GlitchTip to customize internal
      advertisements on its platform to its users (for example, to offer you a
      premium membership). However, GlitchTip does not disclose
      personally-identifying information other than as described below.
    </p>

    <h2 class="fancy mat-display-1">
      Protection of Certain Personally-Identifying Information
    </h2>

    <p class="mat-body-1">
      GlitchTip discloses potentially personally-identifying and
      personally-identifying information only to those of its employees,
      contractors and affiliated organizations that (i) need to know that
      information in order to process it on GlitchTip’ behalf or to provide
      services available at GlitchTip’s websites, and (ii) that have agreed not
      to disclose it to others. Some of those employees, contractors and
      affiliated organizations may be located outside of your home country; by
      using GlitchTip’s websites, you consent to the transfer of such
      information to them. GlitchTip will not rent or sell potentially
      personally-identifying and personally-identifying information to anyone.
      Other than to its employees, contractors and affiliated organizations, as
      described above, GlitchTip discloses potentially personally-identifying
      and personally-identifying information only when required to do so by law,
      or when GlitchTip believes in good faith that disclosure is reasonably
      necessary to protect the property or rights of GlitchTip, third parties or
      the public at large. If you are a registered user of an GlitchTip website
      and have supplied your email address, GlitchTip may occasionally send you
      an email to tell you about new features, solicit your feedback, or just
      keep you up to date with what’s going on with GlitchTip and our products.
      We expect to keep this type of email to a minimum. If you send us a
      request (for example via a support email or via one of our feedback
      mechanisms), we reserve the right to publish it in order to help us
      clarify or respond to your request or to help us support other users.
      GlitchTip takes all measures reasonably necessary to protect against the
      unauthorized access, use, alteration or destruction of potentially
      personally-identifying and personally-identifying information.
    </p>

    <h2 class="fancy mat-display-1">
      Cookies
    </h2>

    <p class="mat-body-1">
      A cookie is a string of information that a website stores on a visitor’s
      computer, and that the visitor’s browser provides to the website each time
      the visitor returns. GlitchTip uses cookies to help GlitchTip identify and
      track visitors, their usage of GlitchTip website, and their website access
      preferences. GlitchTip visitors who do not wish to have cookies placed on
      their computers should set their browsers to refuse cookies before using
      GlitchTip’s websites, with the drawback that certain features of
      GlitchTip’s websites may not function properly without the aid of cookies.
    </p>

    <h2 class="fancy mat-display-1">
      Business Transfers
    </h2>

    <p class="mat-body-1">
      If GlitchTip, or substantially all of its assets, were acquired, or in the
      unlikely event that GlitchTip goes out of business or enters bankruptcy,
      user information would be one of the assets that is transferred or
      acquired by a third party. You acknowledge that such transfers may occur,
      and that any acquirer of GlitchTip may continue to use your personal
      information as set forth in this policy.
    </p>

    <h2 class="fancy mat-display-1">
      Privacy Policy Changes
    </h2>

    <p class="mat-body-1">
      Although most changes are likely to be minor, GlitchTip may change its
      Privacy Policy from time to time, and in GlitchTip’s sole discretion.
      GlitchTip encourages visitors to frequently check this page for any
      changes to its Privacy Policy.
    </p>

    <p class="mat-body-1">
      Burke Software and Consulting LLC, DBA GlitchTip, is incorporated in the
      state of New York in the United States of America.
    </p>

    <p class="mat-body-1">
      This Privacy Policy is available under a Creative Commons Sharealike
      license. Attribution to Automattic Inc.
    </p>
  </div>
</mat-card>
