@import "../../../assets/styles/variables";

$iconWidth: 56px;

mat-sidenav-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav {
  width: 240px;
}

.logo-toolbar {
  background-color: transparent;

  .main-logo {
    width: 115px;
  }
}

.sidenav-toggle {
  display: none;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  min-width: $iconWidth;

  @media (max-width: $tablet - 1) {
    display: block;
  }

  mat-icon {
    font-size: 25px;
    height: $iconWidth;
    width: $iconWidth;
    line-height: $iconWidth;
    color: white;

    @media (min-width: $small) {
      height: 64px;
      line-height: 64px;
    }
  }
}

.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  // white-space: nowrap;
  // max-height: 32px;
  // line-height: 1;
  max-height: 40px;
  line-height: 1.11111;
  font-size: 18px;
  font-weight: 500;
}

.down-caret {
  transform: scale(1, 0.5);
}

.org-details-divider {
  margin: 10px 0;
}

// .wrapper {
//   margin: 30px;
// }
