<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    *ngIf="isLoggedIn$ | async"
    class="mat-elevation-z2"
    [opened]="sideNavOpen"
    (closed)="hideSideNav()"
    [mode]="isScreenSmall() ? 'over' : 'side'"
  >
    <mat-toolbar class="logo-toolbar">
      <img
        class="main-logo"
        routerLink="."
        src="assets/images/glitchtip-logo-v1.svg"
        alt="GlitchTip"
      />
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item color="accent" [matMenuTriggerFor]="menu">
        <span
          *ngIf="activeOrganizationDetail$ | async as orgDetails"
          class="overflow"
        >
          {{ orgDetails?.name }}
        </span>
        <span class="down-caret">▼</span>
      </mat-list-item>
      <mat-menu #menu="matMenu">
        <button
          *ngFor="let organization of organizations$ | async"
          (click)="setOrganization(organization.id)"
          mat-menu-item
        >
          {{ organization.name }}
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item routerLink="/organizations/new">
          Create New Organization
        </button>
      </mat-menu>
      <mat-divider class="org-details-divider"></mat-divider>
      <ng-container *ngIf="activeOrganizationDetail$ | async as orgDetails">
        <a
          mat-list-item
          [routerLink]="['/organizations', orgDetails?.slug, 'projects']"
          >Projects</a
        >
        <a
          mat-list-item
          [routerLink]="['/organizations', orgDetails?.slug, 'issues']"
          routerLinkActive="active-route"
          >Issues</a
        >
        <a
          mat-list-item
          [routerLink]="['/settings', orgDetails?.slug]"
          routerLinkActive="active-route"
          >Settings</a
        >
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button
      *ngIf="isLoggedIn$ | async"
      mat-button
      class="sidenav-toggle"
      (click)="toggleSideNav()"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <div class="wrapper">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
