<header>
  <mat-toolbar color="transparent">
    <a [routerLink]="['']"
      ><img class="logo-test" src="../assets/logo-again.svg" alt="GlitchTip"
    /></a>
  </mat-toolbar>
</header>

<router-outlet></router-outlet>

<footer class="mat-body-1">
  <a [routerLink]="['legal', 'privacy']">Privacy Policy</a>
</footer>
