@import "../../../../src/assets/styles/variables";

.mat-toolbar {
  position: absolute;
  background: transparent;
  z-index: 1;

  a {
    display: inline-block;
    margin: 0 auto;
  }

  .logo-test {
    width: 150px;
    margin-top: 15px;
  }
}

footer {
  width: 100%;
  height: 150px;
  background: $amaranth;
  text-align: center;
  padding: 20px;

  a {
    color: white;
  }
}
