<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened
    ><nav>
      <mat-nav-list>
        <h3 mat-subheader>Organization</h3>
        <a
          mat-list-item
          routerLink="/settings/organizations"
          routerLinkActive="active-route"
        >
          General Settings
        </a>
        <a
          mat-list-item
          routerLink="/settings/projects"
          routerLinkActive="active-route"
          >Projects</a
        ></mat-nav-list
      >
    </nav>
  </mat-drawer>
  <mat-drawer-content><ng-content></ng-content></mat-drawer-content>
</mat-drawer-container>
