@import "../../../assets/styles/variables";

$iconWidth: 56px;

table {
  width: 100%;
  margin-bottom: 40px;
}

.table-actions {
  display: flex;
  justify-content: space-between;
}

.primary-toolbar {
  @media (max-width: $tablet - 1) {
    padding-left: $iconWidth;
  }
}

app-header-nav {
  display: block;
  margin-bottom: 20px;
}

.mat-column-title {
  max-width: 500px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  text-align: right;

  mat-icon {
    font-size: 35px;
    height: $iconWidth;
    width: $iconWidth;
    line-height: $iconWidth;
  }
}

.resolved {
  background: #f8c6d3;
}

.ignored {
  background: lightgray;
  text-decoration: line-through;
}
