<section class="mat-elevation-z0">
  <mat-toolbar class="primary-toolbar" color="primary">Issues</mat-toolbar>

  <app-header-nav></app-header-nav>

  <table mat-table [dataSource]="issues$">
    <ng-container matColumnDef="actions">
      <th mat-header-cell colspan="3" *matHeaderCellDef class="resolved-row">
        <button mat-flat-button color="primary" (click)="bulkMarkResolved()">
          Mark as resolved
        </button>
        <button
          style="margin-left: 10px;"
          mat-flat-button
          (click)="bulkMarkUnresolved()"
        >
          Reopen issue
        </button>
        <button
          style="margin-left: 10px;"
          mat-flat-button
          (click)="bulkMarkIgnored()"
        >
          Ignore issue
        </button>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input
              matInput
              type="search"
              placeholder="Search"
              formControlName="query"
            />
          </mat-form-field>
        </form>
      </th>
    </ng-container>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="toggleSelectAll()"
          [checked]="areAllSelected$ | async"
        >
        </mat-checkbox>
      </th>
      <td
        mat-cell
        *matCellDef="let row"
        [class.resolved]="row.status === 'resolved'"
        [class.ignored]="row.status === 'ignored'"
      >
        <mat-checkbox (change)="toggleCheck(row.id)" [checked]="row.isSelected">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td
        mat-cell
        *matCellDef="let element"
        [class.resolved]="element.status === 'resolved'"
        [class.ignored]="element.status === 'ignored'"
      >
        {{ element.status }}
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td
        mat-cell
        *matCellDef="let element"
        [class.resolved]="element.status === 'resolved'"
        [class.ignored]="element.status === 'ignored'"
      >
        <a [routerLink]="element.id">{{ element.title }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="pagination">
      <td mat-footer-cell *matFooterCellDef colspan="3" class="footer">
        <a
          [routerLink]=""
          [queryParams]="previousParams$ | async"
          queryParamsHandling="merge"
          mat-button
          [disabled]="(hasPreviousPage$ | async) === false"
          (click)="getPreviousPage()"
        >
          <mat-icon>keyboard_arrow_left</mat-icon>
        </a>
        <a
          [routerLink]=""
          [queryParams]="nextParams$ | async"
          queryParamsHandling="merge"
          mat-button
          *ngIf="hasNextPage$ | async"
          (click)="getNextPage()"
        >
          <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['actions']"></tr>
    <tr mat-header-row class="overlay" *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="['pagination']"></tr>
  </table>
</section>
